.page-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Create Post Card */
.create-post {
  background: #e8f0fe;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.create-post input,
.create-post textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid ccc;
  font-size: 14px;
}

.create-post button {
  background: #0a66c2;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

/* Post Card */
.post-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.post-card h4 {
  margin: 0 0 5px;
}

.post-card p {
  margin: 0 0 10px;
}

.post-card button {
  background: none;
  border: none;
  color: #0a66c2;
  cursor: pointer;
  font-weight: bold;
}

.post-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
}




.feed-page {
  min-height: 100vh;
  background-color: #f0eff3; /* LinkedIn-like */
  padding: 20px;
}

.delete-btn {
  background: none;
  border: none;
  color: rgb(255, 0, 0);
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #555;
}

.logout-btn {
  background: none;
  border: none;
  color: #0a66c2;
  cursor: pointer;
  font-weight: bold;
}

.feed-page {
  background: #f3f2ef;
  min-height: 100vh;
}

.post-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.like-btn:hover,
.delete-btn:hover {
  text-decoration: underline;
}

